<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CocoaLumberjack.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Events.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SQLCipher.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SalesforceAnalytics.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SalesforceSDKCore-SalesforceSDKResources.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SalesforceSDKCore.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SmartStore.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SmartSync.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>416B388906DEFAC81F0676F277AC9058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47734D229E40593F39067FA297950173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>496947E8F72A73FBDFF6438FEE160C9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88440B71C6CADE3626D31CFCC4EC9EA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FF0B45FD931974B356F9BC14C3CBCA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>970847C9ACA6263726FBEBA593FFA773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB6962927BBF51073B817AAF89CAD7C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8E7C8624C94F6F0ED2D04515550454B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
